# MongoDB Connection String
MONGODB_KEY=mongodb://127.0.0.1:27017/facetrace

# Hugging Face API Token
HF_TOKEN=your_huggingface_token_here

# JWT Configuration
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=1d
